<div class="slider-area position-relative">
  <div class="slider-active dot-style">
    <% @projects.each do |project| %>
    <div style="background-image: url(<%= url_for(project.image) rescue nil %>);" class="single-slider hero-overly slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-8 col-sm-10">
            <div class="hero-caption">
              <h1 data-animation="fadeInUp" data-delay=".2s"><%= project.title %></h1>
              <p data-animation="fadeInUp" data-delay=".4s"><%= project.description %></p>
              <%# <a href="#" class="btn hero-btn"  data-animation="fadeInUp" data-delay=".8s">Support project</a> %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>