<section class="sample-text-area">
    <div class="container box_1170">
        <h2 class="text-heading"><%= @donate.title %></h2>
        <p class="sample-text"><%= @donate.content %></p>
    </div>
</section>
<br />
<br />
<br />