<header>
  <div class="header-area">
    <div class="main-header ">
      <div class="header-top d-none d-sm-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">
              <div class="d-flex justify-content-between flex-wrap align-items-center">
                <div class="header-info-left">
                  <ul>
                    <li><i class="fas fa-phone-alt"></i> +256 (772) 460 615</li>
                    <li>info@childrensurehouse.com</li>
                  </ul>
                </div>
                <div class="header-info-right">
                  <ul class="header-social">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom  header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a href="/"><%= image_tag "logo/logo-3.png" %></a>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><%= link_to "Home", root_path %></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/partners">Our Partners</a></li>
                    <li><a href="/testmonies">Testmonies</a></li>
                    <li>
                      <a href="#">Services</a>
                      <ul class="submenu">
                        <li><a href="#">Sponsor child</a></li>
                        <li><a href="#">Volunteer</a></li>
                      </ul>
                    </li>
                    <li><%= link_to "Contact", contact_us_path %></li>
                    <li>
                      <div class="header-right-btn f-right  ml-15">
                        <a href="/donate" class="header-btn">Donate Now</a>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>